*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-size: 2rem;

  /* Fondo */
  background-image: url('./img/como-crear-un-huerto-urbano\ \(1\).jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container{
  width: 50rem;
  background-color: white;
  border-radius: 1rem;
  padding: 5rem;
}

.logo-cultiva{
  width: 15rem;
}

.banner{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}
p{
  margin-top: 1.5rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form+p, form p {
  text-align: center;
}

input, button{
  border-radius: 0.5rem;
  border: unset;
  padding: 1.5rem 3rem;
  font-size: inherit;
}

button{
  background-color: #249e26;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.error{
  color: rgb(255, 81, 81);
}

.escondido{
  display: none;
}

.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width: 0.1rem;
  height: 0.rem;
  overflow: hidden;
}